{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "plugin:@typescript-eslint/recommended" // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "plugins": ["prefer-arrow-functions"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "rules": {   
    "@typescript-eslint/prefer-optional-chain": "error",
    "prefer-arrow-callback": [ "error", { "allowNamedFunctions": true } ],
    "prefer-arrow-functions/prefer-arrow-functions": [
      "warn",
      {
        "classPropertiesAllowed": false,
        "disallowPrototype": false,
        "returnStyle": "unchanged",
        "singleReturnOnly": false
      }
    ],
    "array-bracket-spacing": 1,
    "arrow-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "brace-style": "error",
    "camelcase": "off",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "consistent-return": "off",
    "curly": "error",
    "default-case": "off",
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "always", {
      "null": "ignore"
    }],
    "func-names": "off",
    "guard-for-in": "error",
    "id-length": ["error", {
      "min": 3,
      "exceptions": ["i", "a", "b", "_", "fs", "rp", "$", "db", "iv", "to", "qs", "io", "id", "bi", "S3", "s3", "ip", "os"],
      "properties": "never"
    }],
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "key-spacing": ["error", {
      "beforeColon": false,
      "afterColon": true
    }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "max-len": ["error", 140, {
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreComments": true
    }],
    "no-bitwise": "off",
    "no-caller": "error",
    "no-case-declarations": "off",
    "no-console": "off",
    "no-const-assign": "error",
    "no-control-regex": "off",
    "no-dupe-keys": "error",
    "no-else-return": "off",
    "no-empty-class": "off",
    "no-empty": ["error", {
      "allowEmptyCatch": true
    }],
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": ["error", {
      "max": 5,
      "maxBOF": 0
    }],
    "no-param-reassign": "off",
    "no-process-exit": "off",
    "no-prototype-builtins": "off",
    "no-redeclare": "error",
    "no-self-compare": "error",
    "no-shadow": "off",
    "no-spaced-func": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unneeded-ternary": ["error", {
      "defaultAssignment": false
    }],
    "no-unreachable": "error",
    "no-unused-expressions": "off",
    "no-unused-vars": ["error", {
      "args": "none"
    }],
    // "no-use-before-define": [1, "nofunc"],
    "no-useless-rename": "error",
    "no-var": ["error"],
    "no-whitespace-before-property": "error",
    
    "node/no-unsupported-features/es-syntax": "off",
    "object-curly-spacing": ["error", "always"],
    "object-shorthand": "error",
    "one-var-declaration-per-line": ["error", "always"],
    "one-var": ["error", "never"],
    "padded-blocks": "off",
    "prefer-const": ["error", {
      "destructuring": "all"
    }],
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "array": true,
        "object": true
      },
      "AssignmentExpression": {
        "array": true,
        "object": false
      }
    }],
    "prefer-template": "error",
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "require-await": "error",
    "semi-spacing": "error",
    "semi": "error",
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": ["error", "always"],
    "strict": "off",
    "template-curly-spacing": ["error", "never"],
    "wrap-iife": ["error", "outside"],
    "you-dont-need-lodash-underscore/get": "off"
  }
}